html, body {
  background-color: rgb(14, 51, 78);
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

main {
  flex: 1;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(244, 240, 6);
}

header {
  padding: 5px;
  text-align:center
}

.header-logo {
    margin-top: 10px;
    width: 300px;
    height: auto;
}

.footer-content .footer-logo {
  width: 250px;
  height: auto;
  margin-bottom: 5px;
}

footer {
  font-size: 20px;
  font-weight: bold;
  color: rgb(244, 240, 6);
}
